- require_relative "lib/helpers"
!!!
%html
  %head
    - partial :header
  %body.add_funds
    %h1
      Add funds
      %a{ href: "settings_donor.html" } < Settings

    .content
      %p 1abcd....blabla
      %img{ src: "/imgs/qr.png" } [qr code]

      %p Deposit the amount of bitcoins you want to donate:

      %label
        Amount:
        %input{ name: "amount", type: "text" }

      - partial :footer
