- require_relative "lib/helpers"
!!!
%html
  %head
    - partial :header
  %body
    %h1
      Balance
      %a{ href: "/finder.html" }          < Finder

    %a{ href: "/settings_donor.html" }  Settings

    .content

      %h1 Your Address:
      %input{ name: "amount", type: "text", placeholder: "generating address..." }
      %p balance: 0

      %a{ href: "/add_funds.html" }   Add funds


