- require_relative "lib/helpers"
!!!
%html
  %head
    - partial :header
  %body.home
    -#- content do

    -# - filter do
    -#   [finder]
    -#   [donor]
    .logo [logo]
    %img{ src: "" }
    %a{ href: "/donor.html"  } Donate bitcoins
    %a{ href: "/finder.html" } Find bitcoins
    - partial :footer
