- require_relative "lib/helpers"
!!!
%html
  %head
    - partial :header
  %body
    -# - filter do
    -#   [finder]
    -#   [donor]
    %a{ href: "/donor"  } Donate bitcoins
    %a{ href: "/finder" } Find bitcoins
    - partial :footer