- require_relative "lib/helpers"
!!!
%html
  %head
    - partial :header
  %body.settings_finder
    %h1
      Settings
      %a{ href: "/finder.html" } < Finder


    .content
      %p Your Address
      %input{ name: "address", placeholder: "1xyz...." }
      %input{ value: "Save", type: "submit" }
