body {
  margin: 0;
  padding: 0; }

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1; }

#debug {
  position: absolute;
  bottom: 0;
  background: rgba(245, 245, 245, 0.7);
  padding: 2px 5px;
  z-index: 2; }

body > a {
  padding: 30px 7%;
  display: inline-block;
  border: 1px solid #ddd; }
  body > a:hover {
    background: #eee; }
