* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif; }

a {
  text-decoration: none;
  color: #C00; }
  a:hover {
    color: #ce0000; }

body > h1 {
  color: #C00; }

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1; }

#debug {
  position: absolute;
  bottom: 0;
  background: rgba(245, 245, 245, 0.7);
  padding: 2px 5px;
  z-index: 2; }

body > a, body .content > a, body .finder > a {
  padding: 30px 3%;
  width: 100%;
  display: inline-block;
  border: 1px solid #ddd; }
  body > a:hover, body .content > a:hover, body .finder > a:hover {
    background: #eee; }

label {
  display: block; }

h1 {
  font-size: 1.3em; }

body > h1 {
  font-size: 1.4em;
  text-align: center; }

h1 > a {
  left: 3%;
  position: absolute;
  font-size: 0.8em;
  margin-top: 4px; }

h1 > a.option {
  right: 3%; }

body > h1 {
  padding: 0 3%; }

input {
  font-size: 1.2em;
  padding: 3% 3%;
  width: 100%; }

.content {
  margin: 0 3%; }

.right {
  text-align: right;
  float: right;
  right: 0;
  display: inline-block;
  width: auto; }

.over {
  position: absolute;
  z-index: 3; }

label {
  position: relative; }

.over_input {
  position: absolute;
  right: 0;
  margin-right: 3%;
  top: 50%; }

body.finder a.right.over {
  background: #EEE; }
